@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    html {
        font-size: 62.5%;
        font-family: 'Nunito Sans', sans-serif;
    }

    body::-webkit-scrollbar {
        width: 0.7rem;
        @apply bg-white;
    }
    
    body::-webkit-scrollbar-thumb {
        height: 12rem;
        max-height: 15rem;
        @apply rounded-lg bg-blue;
    }

    body::-webkit-scrollbar-track-piece {
        margin-block: 0.3rem;
    }

    html.dark body::-webkit-scrollbar {
        @apply bg-blue-200-dark;
    }

    html.dark body::-webkit-scrollbar-thumb {
        @apply bg-gray;
    }
}
